<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>C.V Leonardo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="estilo.css" rel="stylesheet">
</head>
<body>
    <h1><a href="/"><img src="/images/retangulo.png" alt="Informacao do aplicante"></a></h1>
    <p>Web Developer !!!</p>